body {
    width: 100%;
	height: 100%;
	font-family:sans-serif;
	color: #ff6;
	background-color: #000;
	overflow: hidden;
}
.section
{
	position: absolute;
	width: 650px;
    height: 100%;
	bottom: 0;
	left: 50%;
	font-size: 450%;
	font-weight: bold;
	overflow: hidden;
	transform: translateX(-50%) perspective(250px) rotateX(35deg);
}
.section:after
{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}
.box
{
	position: absolute;
	top: 100%;
	animation: scroll 60s linear;
}

.headline {
    text-transform: uppercase;
    color: orange;
    text-align: center;
    font-size: 46px;
    margin-bottom: 20px;
}
.text {
    color: orange;
    text-align: center;
    font-size: 38px;
    margin-bottom: 20px;
    line-height: 45px;
}

@keyframes scroll {
	0% { top: 100%; }
    50% {top: 0%;}
	100% { top: -170%; }
}
.audio {
    display: none;
}